<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for Catchdujour</title>
    <link rel="stylesheet" href="css/welcome.css">
</head>
<body>

    
    <main class="welcome">
        <h1>Welcome to Catch du Jour!</h1>

        <p>Thank you for joining us.  This site was created with the intention of providing a blog-space/journal for users to share with the world.  Here you can create "catches" (posts) and categorize your catches by "catchegory".  Don't see the catchegory that fits your post?  Create your own!  You can also see and interact with others' catches and search by catchegory or filter out any catchegories you do not wish to view.</p>
        <hr>

        <h3>Terms of Service</h3>
        <p>Please use the platform respectfully.  You may discuss whatever you wish, but please keep catches/comments/discussions respectful.  No illegal content will be tolerated, and will be grounds for permanent ban and may be reported to the proper authorities.  If it is against the law for you to have on your computer, then it is against the law for you to post it here.</p>
        
        <p>If you choose to share content suitable only for an adult audience, you must mark the 'nsfw' (not safe for work) catchegory, or your post will be removed, and you may be permanently banned.  The 'nsfw' catchegory is currently the only catchegory that will be automatically hidden from view.  If you opt to view this catchegory, you must be 18 or older if you live in the United States, otherwise you must be of legal adult age in your country of origin.</p>
        
        <p>If you do not agree to these terms, please leave the site now.
        By continuing, you are agreeing to these terms of use.</p>

        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>

        <section class='signup'>
            <form action="/signup" method="POST">
                <input type="text" name="userName" placeholder="User Name" maxlength="25">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
                <input type="submit">
            </form>
        </section>
    </main>

</body>
</html>