<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Welcome to Catch du Jour!</title>
</head>
<body>
    <main>
        <img src="../img/catch-logo.png">
        <h1>Welcome to Catch du Jour!</h1>
        <hr>

        <div>
            <h3>Last update: June 15, 2021</h3>
            <h2>--Current Version 1.0--</h2>
            <div class="features">
                <h4>---New Features---</h4>
                <ul>
                    <li>Profile page update - mobile users can now sort their catchegories on their profile</li>
                    <li>Mobile looks much better</li>
                    <li>The whole site is new!</li>
                    <li>UI getting better...</li>
                </ul>

                <h4>---Upcoming Features---</h4>
                <ul>
                    <li>Expect lots of UI/design changes</li>
                    <li>Add images to catches</li>
                    <li>Bugs/suggestions form</li>
                    <li>Ability to delete comments on your own catches</li>
                    <li>Ability to reset password (don't forget your password until then, HA!)</li>
                    <li>Dark mode</li>
                    <li>Sort catchegories in different ways (right now they're sorted by most used)</li>
                    <li>Switch between viewing post title or post title with first paragraph of content on main page</li>
                    <li>See how many users are following others</li>
                    <li>More comprehensive profile page</li>
                    <li>Lots of surprises</li>
                </ul>

                <h4>---Known Bugs/Issues---</h4>
                <ul>
                    <li>Users unable to edit their links on posts</li>
                </ul>
            </div>
        </div>    

        <p class="click">(Click anywhere to proceed to the site)</p>
    </main>
    <script src="js/welcome.js"></script>
</body>
</html>