<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Welcome to Catch du Jour!</title>
</head>
<body>
    <main>
        <h1>Welcome to Catch du Jour!</h1>
        <hr>

        <div>
            <h3>Date of last update: June 5, 2021</h3>
            <h2>--Current Version 0.9--</h2>
            <div class="features">
                <h4>New Features</h4>
                <ul>
                    <li>The site is new</li>
                </ul>

                <h4>---Upcoming Features---</h4>
                <ul>
                    <li>Ability to sort catchegories in different ways (right now they're sorted by most used)</li>
                    <li>Ability to add images to catches</li>
                    <li>Ability to switch between viewing post title or post title with first paragraph of content on main page</li>
                </ul>

                <h4>---Known Bugs/Issues---</h4>
                <ul>
                    <li>Long posts need to be cut-off on the main page so they don't take up the entire page</li>
                    <li></li>
                </ul>
            </div>
        </div>    

        <p class="click">(Click anywhere to proceed to the site)</p>
    </main>
    <script src="js/welcome.js"></script>
</body>
</html>