/* font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */

/******************************************
/* CSS
/******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }

/******************************************  
/* CSS Variables */
/******************************************/
:root{
  --main-red: #ff0000;
  --light-red: #ffd1d1;
  --med-red: #ff6a6a;
  --maroon: #400000;
  --super-dark-red: #0d0000;
  --super-light-red: #ffebeb;
  --dark-red: #bf0000;
  --dark-purple: #330c2d;
  --dark-blue: #131f28;
  --gray-blue: #5a98c2;
  --light-purple: #bd88a1;
  --orange: #ef8938;
  --background: #f0f7ff;
  --catch-background: rgb(250,250,250);
}


/******************************************
/* LAYOUT
/******************************************/

/* DARK MODE */
/* body,
body div.catch-post{
  color: white;
  background: rgb(54, 54, 54);
}
a{
  color: rgb(255, 175, 46);
}
input{
  background:rgb(255, 175, 46);
} */
/***************/
html{
  padding: 0;
  margin: 0;
}
body{
  margin: 20px 25px;
  padding: 0;
}
body, 
*{
  font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--super-dark-red);
}
a{
  color: var(--light-purple);
}
a:visited{
  color: var(--dark-purple);
}
a:hover,
h5 em a:visited{
  color: var(--dark-red);
}
.logo{
  width: 80px;
  height: 80px;
  margin-top: 0;
  transition: .2s;
}
.logo:hover{
  width: 85px;
  height: 85px;
  margin-top: -5px;
  margin-left: -5px;
}
header.container{
  display: flex;
  margin: 10px auto;
  max-width: 1215px;
  justify-content: space-between;
}
.intro{
  margin-left: 14px;
}
.intro h1{
  /* flex-basis: 90%; */
  /* margin-left: 10px; */
  margin-top: 3px;
}
.intro h3{
  /* position: relative; */
  text-indent: 3px;
  flex-basis: 100%;
  /* bottom: 25px; */
}
.intro img{
  margin-top: 10px;
}
header div.intro h3{
  margin: 0 0 10px 0;
}
.intro{
  /* catch blog space */
}
header nav{
  /* position: absolute;
  right: 10px;
  top: 45px; */
}
header nav h5{
  margin: 0;
}
header hr{
  display: block;
}
h1{
  color: var(--main-red);
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
  font-size: 14px;
}
.edit-and-delete{
  margin: 10px 0;
}
.catch-post{
  background: var(--catch-background);
  box-shadow: 1px 3px 2px rgb(0 0 0 / 10%), -1px -1px 0px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0,0,0,.09);
  padding: 0px 20px 0px 20px;
  margin: 15px 0px;
  width: 100%;
  max-width: 920px;
}
.catch-post-content{
  width: 100%;
  max-width: 855px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.catch-post a{
  display: inline;
  text-decoration: none;
  color: var(--dark-red);
}
.catch-post a:hover{
  color: var(--med-red);
}
.single-catch{
  margin: 20px auto;
}
.catch-header{
  display: flex;
  width: 100%;
}
.catch-title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.catch-title h3{
  display: inline-block;
  flex-wrap: wrap;
  color: var(--dark-purple);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  text-decoration: none;
  margin: 0px 0;
  word-break: break-word;
  width: 100%;
  max-width: 740px;
  min-width: 200px;
}
.catch-title h3 a{
  color: var(--dark-purple);
  word-wrap: break-word;
}
.catch-title h3 a:hover{
  color: var(--dark-red);
}
.catch-title h5{
  margin: 0;
}
.catch-link{
  word-wrap: break-word;
}
.comment-bubble{
  display: inline-block;
  margin-left: auto;
  margin-top: 15px;
  margin-right: -20px;
}
/* Comment bubble graphic */
.far.fa-comment{
  line-height: 0.6;
}
/* Comment counter */
.comment-bubble .far .fa-layers-counter{
  position: relative;
  right: 33px;
  bottom: 12px;
  font-weight: 500;
  font-size: 20px;
}
.likes{
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3px;
}
/* Fish likes button */
.fa-fish{
  color: var(--catch-background);
  text-shadow: 2px 0px 1px var(--dark-red), -2px 0px 1px var(--dark-red), 0px -2px 1px var(--dark-red), 0px 2px 1px var(--dark-red);
}
.likes:hover .fa-fish{
  color: var(--main-red);
  text-shadow: 0px 0px 0px var(--light-red);
}
/* Likes counter */
.likes .fa-fish .fa-layers-counter{
  position: relative;
  color: var(--dark-red);
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  right: 37px;
  bottom: 11px;
}
.likes:hover .fa-fish .fa-layers-counter{
  color: var(--catch-background);
}
/* Signify if user has liked */
.liked.likes .fa-fish{
  color: var(--dark-red);
  text-shadow: 1px 1px 0px var(--super-dark-red);
}
.liked.likes .fa-fish .fa-layers-counter{
  color: var(--catch-background);
  text-shadow: 1px 1px 0px var(--super-dark-red);
}
.post-catchegories{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--dark-purple);
  font-weight: 500;
  font-size: 16px;
  margin: -2px 0 5px 0;
  letter-spacing: .05rem;
}
.post-catchegories span{
  font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .15rem;
}
.container{
  display: flex;
  justify-content: center;
}
main{
  width: 100%;
  max-width: 920px;
}
main.profile-container{
  margin: 0 auto;
}
hr{
  margin: 2px 0;
}
header+hr{
  margin: 10px 0;
}
.create-page,
.sort{
  margin-left: 15px;
  margin-bottom: 4px;
  /* padding: 1px 2px 2px 2px; */
}
.sort-select{
  background: var(--super-light-red);
  color: var(--super-dark-red);
  border: 2px solid var(--super-dark-red);
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  padding: 1px 8px;
}
.comment-area{
  width: 100%;
  height: 200px;
  resize: none;
  /* overflow: hidden; */
  min-height: 50px;
  max-height: 200px;
  white-space: pre-wrap;
}
.comment-box{
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}
.comment-box input,
.comment-box label{
  display: block;
}
.comment-text{
  white-space: pre-wrap
}
.edit-comment{
  display: block;
}
.comment-area,
.edit-comment-text{
  resize: none;
  width: 80%;
  height: 200px;
}
.selected{
  background: rgb(197, 197, 255);
}
.selected:hover,
.selected:focus{
  font-weight: bold;
  background: rgb(230, 230, 255);
  box-shadow: inset -2px -2px 1px rgb(41, 37, 37);
}
.editable{
  border: 1px solid black;  
}
.see-more{
  display: block;
  margin: 0 0 10px 0;
}
.followed-by-content,
.followed-content{
  position: absolute;
  min-width: 160px;
  max-height: 200px;
  z-index: 2;
}
.followed-by-content a,
.followed-content a,
.followed-content span{
  display: block;
  background: var(--light-red);
  color: var(--dark-purple);
  padding: 5px 25px 5px 10px;
}
.followed-by-content a:hover,
.followed-content a:hover{
  background:var(--super-dark-red);
  color: var(--light-red);

}
.catchegories,
.omitted-catchegories{
  display: flex;
  flex-direction: column;
} 
.catchegories input{
  /* display: inline-block; */
}
.catchegories label,
.omitted-catchegories label{
  /* display: inline-block; */
  justify-content: right;
}
input[type=checkbox]{
  margin: 5px 0;
  padding: 5px;
}
input[type=checkbox]:checked:after{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--dark-purple);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--light-red);
  border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  content: '\2714';
	font-size: 14px;
}
input[type=checkbox]:hover:after{
  background-color: var(--super-dark-red);
  color: var(--light-red);
}
input.catch-title,
input.edit-catch-title,
input.catch-link{
  display: block;
  width: 100%;
  max-width: 550px;
  margin-bottom: 10px;
  font-size: 16px;
}
textarea{
  font-size: 16px;
}
textarea.catch-content,
textarea.edit-post-content,
textarea.edit-comment-text,
textarea{
  resize: none;
  width: 100%;
  max-width: 650px;
  height: 350px;
  white-space: pre-wrap;
}
.container.create-catch main{
  width: 100%;
  max-width: 650px;
}
/* Create catch form body */
.container.create-catch{
  padding: 0 auto;  
}
/* Create catch submit button */
#create-catch-btn{
  margin: 10px 0;
}
aside{
  width: 250px;
  margin-left: 20px;
  margin-top: 17px;
}
aside h3{
  margin: 10px 15px;
}
aside input{
  margin-left: 20px;
}
aside span{
  font-size: 10px;
  margin: 0 10px;
}
footer{
  text-align: center;
}
footer span{
  display: block;
}
.right{
  text-align: right;
  margin-right: 15px;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}

/* First breakpoint */
@media (max-width: 1170px){
  aside{
    display: none;
  }
}

@media (max-width: 768px){
  header.container{
    display: flex;
    flex-direction: column;
  }
  header.container div.container{
    order: 1;
  }
  header nav{
    justify-self: flex-end;
    align-self: flex-start;
    order: 0;
    margin-bottom: 20px;
  }
  /* textarea.catch-content{
    width: 570px;
  } */
}

@media (max-width: 570px){
  body{
    margin: 0 10px;
    padding: 0;
  }
  .container{
    width: 100%;
    min-width: 346px;
    
    /* margin-left: 24px; */
  }
  div.intro{
    margin: 0 auto;
    min-width: 340px;
    max-width: 570px;
  }
  main h1,
  div.intro h1{
    font-size: 26px;
  }
  div.intro h3{
    font-size: 14px;
  }
  header.container div.container{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .catch-header{
    display: flex;
    flex-wrap: wrap;
  }
  .catch-header .likes{
    order: 0;
    flex: 50%;
  }
  .catch-header .comment-bubble{
    order: 1;
    margin-right: -10px;
  }
  .catch-header .catch-title{
    order: 2;
    flex: 100%;
  }
  .catch-post{
    padding: 0;
    margin: 15px 1px;
  }
}