/* font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }

/******************************************
/* LAYOUT
/*******************************************/

/* DARK MODE */
/* body,
body div.catch-post{
  color: white;
  background: rgb(54, 54, 54);
}
a{
  color: rgb(255, 175, 46);
}
input{
  background:rgb(255, 175, 46);
} */
/***************/
body{
  margin: 20px 25px;
}
body, *{
  font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.logo{
  height: 80px;
  width: 80px;
  margin-top: 0;
}
header.container{
  display: flex;
  margin: 10px auto;
  max-width: 1215px;
  justify-content: space-between;
}
.intro{
  margin-left: 14px;
}
.intro h1{
  /* flex-basis: 90%; */
  /* margin-left: 10px; */
  margin-top: 3px;
}
.intro h3{
  /* position: relative; */
  text-indent: 3px;
  flex-basis: 100%;
  /* bottom: 25px; */
}
.intro img{
  margin-top: 10px;
}
.intro a{
  color: black;
  text-decoration: none;
}
header div.intro h3{
  margin: 0 0 10px 0;
  padding: 0;
}
.intro{
  /* catch blog space */
}
header nav{
  /* position: absolute;
  right: 10px;
  top: 45px; */
  
}
header nav h5{
  margin: 0;
}
header hr{
  display: block;
}
h1{
  color: red;
  margin: 0;
  padding: 0;
  
}
button{
  cursor: pointer;
  font-size: 14px;
}
.edit-and-delete{
  margin: 10px 0;
}
.catch-post h3{
  margin: 5px 0;
}
.post-catchegories{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(80, 142, 255);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  letter-spacing: .05rem;
}
.post-catchegories span{
  font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .15rem;

}
.catch-post h5{
  margin: 5px 0;
}

.likes{
  /* display: block; */
  margin: 18px 10px 10px 0;
  font-weight: bold;
}
.likes + span{
  font-weight: bold;
}
.container{
  display: flex;
  justify-content: center;
}
main{
  width: 920px;
}
.sort,
.create-page{
  margin-left: 15px;
}
.catch-title{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: rgb(80, 142, 255);
}
/* .catch-title a{
  color: rgb(80, 142, 255);
} */
.catch-post{
    background: rgb(250, 250, 250);
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 5px rgb(161, 161, 161); */
    box-shadow: 1px 1px 4px rgb(0 0 0 / 5%);
    border: 1px solid rgba(0,0,0,.09);
    padding: 10px 25px 35px 25px;
    margin: 15px 10px;
}
.catch-post 
.catch-post-content{
  /* background:rgb(199, 199, 199); */
  width: 100%;
  max-width: 800px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  white-space: pre-wrap;
}
.catch-post a{
  text-decoration: none;
  color: rgb(80, 142, 255);
}
.catch-post a:visited{
  color:rgb(125, 70, 255);
}
.single-catch{
  margin: 0 auto;
}

.comment-area,
.edit-post-content{
  width: 100%;
  height: 200px;
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 200px;
  white-space: pre-wrap;
}
.comment-box{
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}
.comment-box input,
.comment-box label{
  display: block;
}
.comment-text{
  white-space: pre-wrap
}
.edit-comment{
  display: block;
}
.comment-area,
.edit-comment-text{
  resize: none;
  width: 80%;
  height: 200px;
}
.selected{
  background: rgb(197, 197, 255);
}
.editable{
  border: 1px solid black;  
}
.edit-catch-title{
  background: rgb(197, 197, 255);
}
.see-more{
  display: block;
  margin: 0 0 10px 0;
}
.followed-by-content,
.followed-content{
  position: absolute;
  min-width: 160px;
  max-height: 200px;
  z-index: 2;
}
.followed-by-content a,
.followed-content a,
.followed-content span{
  display: block;
  background:rgb(197, 197, 255);
  padding: 5px 25px 5px 10px;
}
.followed-by-content a:hover,
.followed-content a:hover{
  background:rgb(223, 223, 255)
}
.catchegories,
.omitted-catchegories{
  display: flex;
  flex-direction: column;
} 
.catchegories input{
  /* display: inline-block; */
}
.catchegories label,
.omitted-catchegories label{
  /* display: inline-block; */
  justify-content: right;
}
input[type=checkbox]{
  margin: 5px 0;
  padding: 5px;
}
input[type=checkbox]:checked:after{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid rgb(125, 70, 255);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(118, 166, 255);
  border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  content: '\2714';
	font-size: 14px;
}
input[type=checkbox]:hover:after{
  background-color: rgb(255, 82, 82);
}
input.catch-title{
  width: 400px;
  margin: 10px 0;
  font-size: 18px;
}
input.catch-link{
  display: block;
  width: 400px;
  margin-bottom: 10px;
  font-size: 16px;
}
textarea{
  font-size: 16px;
}
textarea.catch-content{
  display: block;
  width: 450px;
  height: 350px;
  resize: none;
}
textarea.edit-comment-text
textarea{
  resize: none;
  width: 600px;
  height: 350px;
}
aside{
  width: 250px;
}
aside h3{
  margin: 10px 15px;
}
aside input{
  margin-left: 20px;
}
aside span{
  font-size: 10px;
  margin: 0 10px;
}
footer{
  text-align: center;
}
footer span{
  display: block;
}
.right{
  text-align: right;
  margin-right: 15px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}
